<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Petros Koulianos">
    <title>masterEJS</title>
    <meta name="theme-color" content="#563d7c">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <!-- W3 CSS for convenience -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/cover.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        /* Style inputs with type="text", select elements and textareas */
        #add-form input[type=text], #add-form input[type=date],  #add-form select, #add-form textarea,
        #login-form input[type=text], #login-form input[type=password],  #login-form select, #login-form textarea,
        #update-form input[type=text], #update-form input[type=date], #update-form select, #update-form textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */ 
            border: 1px solid #ccc; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
        }

        /* Style the submit button with a specific background color etc */
        #add-form input[type=submit], #update-form input[type=submit],  #login-form input[type=submit], #delete-button {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* When moving the mouse over the submit button, add a darker green color */
        .myButton:hover {
            background-color: #45a049;
        }

        /* Add a background color and some padding around the form */
        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            color: #2f2f2f;
            text-shadow: 0 .05rem .1rem rgba(255, 255, 255, 0.5);
        }

        #checkbox-section {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #completed-journey {
            display: inline-block;
            margin-right: 10px;
        }

        #completed-journey + label {
            display: inline-block;
            margin-bottom: 0;
            cursor: pointer;
            font-weight: 400;
        }
    </style>
</head>