<!-- Navigation Partial Template -->
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Final Project</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a id='Captains' class="nav-link" href="/captains">Captains</a>
            <a id='Ships' class="nav-link" href="/ships">Ships</a>
            <a id='Cargo' class="nav-link" href="/cargo">Cargo</a>
            <a id='Login' class="nav-link" href="/login">Login</a>
        </nav>
    </div>
</header>